{
  "env": {
    "development": {
      "presets": [["next/babel", {
        "styled-jsx": { "sourceMaps": true, "vendorPrefixes": false }
      }]]
    },
    "production": {
      "presets": [["next/babel", {
        "styled-jsx": { "vendorPrefixes": false }
      }]]
    },
    "test": {
      "presets": [["next/babel", {
        "preset-env": { "modules": "commonjs" },
        "styled-jsx": { "sourceMaps": true, "vendorPrefixes": false }
      }]]
    }
  }
}
